# Ignore all LaTeX build artifacts
build/*.aux
build/*.bbl
build/*.bcf
build/*.blg
build/*.fdb_latexmk
build/*.fls
build/*.log
build/*.out
build/*.run.xml
build/*.synctex.gz
build/*.toc
build/*.pdf
build/*.lol
build/*.lof
build/*.lot
build/*.bbl-*
build/*-SAVE-ERROR
build/_minted-*
